.section {
  width: 100%;

  &--about {
    background-color: $black90;
  }

  &--services {
    //background-color: $black90;
    background-color: $blue40;
  }

  &--contact {
    background-color: $black90;
  }
}
