// Breakpoints
$small-phone-width: 320px;
$phone-landscape-width: 421px;
$phablet-width: 670px;
$tablet-width: 768px;
$large-tablet-width: 960px;
$desktop-width: 1024px;
$desktop-medium-width: 1280px;
$desktop-large-width: 1440px;
$desktop-xlarge-width: 1920px;

$text13: 1.3rem;
$text16: 1.6rem;
$text20: 2rem;
$text42: 4.2rem;

// $text2: 1.2rem;
// $text3: 1.3rem;
// $text4: 1.6rem;
// $text5: 1.8rem;
// $text6: 2.4rem;
// $text7: 2.6rem;
// $text8: 3rem;
// $text9: 3.6rem;

$lHeight13: 13px;
$lHeight20: 20px;
$lHeight41: 41px;

// $lHeight2: 18px;
// $lHeight3: 20px;
// $lHeight4: 24px;
// $lHeight5: 28px;
// $lHeight6: 30px;
// $lHeight7: 42px;

$white: #fff;
$black: #000;
$black90: #01040e;
$darkblue: #131836;
$blue: #44537b;
$red: #dd4b50;

$blue10: #e8f0fb;
$blue20: #3786f1;
$blue30: #161e54;

$grey10: #e0e0e0;
$grey20: #fafafa;
$grey30: #b2b2b2;
$grey40: #808080;
$grey50: #686868;
